<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="OrgService" value="TEST"/>
    <add key="DataSource" value="KUNDEDLFATEST"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="LAKAServicesSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://lakapp.lak.local:8092/LAKAServices/LAKAService.asmx"
                binding="basicHttpBinding" bindingConfiguration="LAKAServicesSoap"
                contract="LAKAServices.LAKAServicesSoap" name="LAKAServicesSoap" />
        </client>
    </system.serviceModel>
</configuration>